
<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <h1>회원가입</h1>

    <form th:action="@{/join}" th:object="${joinForm}" method="post" onsubmit="validateJoinForm(this); return false;">

            <label for="email" class="form-control w-full max-w-xs mb-3">
                <div class="label">
                    <span class="label-text">이메일을 입력해주세요</span>
                </div>

                <input type="email" name="email" th:field="*{email}" placeholder="email" class="input input-bordered w-full max-w-xs" />
            </label>

            <label for="username" class="form-control w-full max-w-xs mb-3">
                <div class="label">
                    <span class="label-text">아이디를 입력하세요</span>
                    <span class="label-text-alt">3~25자</span>
                </div>

                <input type="text" name="username" th:field="*{username}" placeholder="Id" class="input input-bordered w-full max-w-xs" />
            </label>

            <label for="password1" class="form-control w-full max-w-xs mb-3">
                <div class="label">
                    <span class="label-text">비밀번호를 입력하세요</span>
                </div>

                <input type="password" name="password1" th:field="*{password1}" placeholder="password" class="input input-bordered w-full max-w-xs" />
            </label>

            <label for="password2" class="form-control w-full max-w-x mb-3">
                <div class="label">
                    <span class="label-text">비밀번호 확인</span>
                </div>

                <input type="password" name="password2" th:field="*{password2}" placeholder="password" class="input input-bordered w-full max-w-xs" />
            </label>

            <label for="userNickname" class="form-control w-full max-w-xs mb-3">
                <div class="label">
                    <span class="label-text">닉네임을 입력해주세요</span>
                </div>

                <input type="text" name="userNickname" th:field="*{userNickname}" placeholder="nickname" class="input input-bordered w-full max-w-xs" />
            </label>

        <input type="submit" class="btn w-full max-w-xs mb-3" value="회원가입">
    </form>

    <script>
        function validateJoinForm(form) {
            if(form.username.value.trim().length == 0) {
                alert("아이디를 입력해주세요.");
                form.username.focus();
                return;
            }

            if(form.password.value.trim().length == 0) {
                alert("비밀번호를 입력해주세요.");
                form.password.focus();
                return;
            }

            if(form.passwordConfirm.value.trim().length == 0) {
                alert("비밀번호를 확인해주세요.");
                form.passwordConfirm.focus();
                return;
            }

            if(form.password.value.trim() != form.passwordConfirm.value.trim()) {
                alert("비밀번호가 일치하지 않습니다.");
                form.passwordConfirm.focus();
                return;
            }

            form.submit();
        }
    </script>

</div>
</html>