<html layout:decorate="~{global/layout}">
<div layout:fragment="content">


    <h1>로그인</h1>
    <form th:action="@{/login}" method="post" onsubmit="validateLoginForm(this); return false;">

        <div th:if="${param.error}">
            <div class="alert alert-danger">
                사용자ID 또는 비밀번호를 확인해 주세요.
            </div>
        </div>

        <label for="username" class="form-control w-full max-w-xs mb-3">
            <div class="label">
                <span class="label-text">아이디를 입력하세요</span>
            </div>

            <input type="text" name="username" placeholder="Id" class="input input-bordered w-full max-w-xs" />
        </label>

        <label for="password" class="form-control w-full max-w-xs mb-3">
            <div class="label">
                <span class="label-text">비밀번호를 입력하세요</span>
            </div>

            <input type="password" name="password"  placeholder="password" class="input input-bordered w-full max-w-xs" />
        </label>

        <input type="submit" class="btn w-full max-w-xs mb-3" value="로그인">
    </form>

    <script>
        function validateLoginForm(form) {
            if(form.username.value.trim().length == 0) {
                alert("아이디를 입력해주세요.");
                form.username.focus();
                return;
            }

            if(form.password.value.trim().length == 0) {
                alert("비밀번호를 입력해주세요.");
                form.password.focus();
                return;
            }

            form.submit();
        }
    </script>

</div>
</html>