<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 데이지 ui, 테일윈드 치트시트-->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <!--  css  -->
    <link rel="stylesheet" href="/css/style.css"/>
    <!-- 토스페이먼츠 js-->
<!--    <script src="https://js.tosspayments.com/v2/standard"></script>-->


    <title>BB</title>

</head>

<body style="width:600px; margin:0 auto;">
<!-- 네비게이션바 -->
<nav th:replace="~{navbar :: navbarFragment}"></nav>

<!-- 기본 템플릿 안에 삽입될 내용 Start -->
<th:block layout:fragment="content"></th:block>

<!-- 하단 메뉴바-->
<nav th:replace="~{gnbNavbar :: gnbNavbarFragment}"></nav>
</body>
</html>
