<html layout:decorate="~{layout}">
<div layout:fragment="content">

    <div class="flex justify-center justify-between">

        <div class="w-48 h-52">
            <img src="/img/img.jpg" alt="itemImg">
            <div class="itemImg"></div>
        </div>

        <div>
            <!-- <div th:text="${item.brand.name}">브랜드명</div>-->
            <div th:text="${item.name}">상품이름</div>
            <div th:text="${item.price}">상품 가격</div>
            <button type="submit">구매하기</button>
        </div>

    </div>


</div>
</html>